/* Gobal styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: rgba(0, 0, 0, 0.87);
}
ul{
    list-style: none;
}
li{
    margin: 5px;
}
a{
    text-decoration: none;
}
.headers h1{
    text-align: center;
    font-family: 'Sora';
    font-style: normal;
    font-weight: 800;
    font-size: 28px;
    line-height: 35px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 0.87);
    margin: 40px;
}
/* End of Global styles */

/* Header styles */

header{
    width: 100%;
    margin: 10px 0; 
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo img{
    width: 50px;
    height: 50px;
}
.navigation ul{
 display: flex;
}
.navigation li{
    color: #3B4A3F;
    font-size: 20px;
    font-family: Sora;
    margin: 0 20px;
}
.navigation li:hover{
    color: #1a271d;
    border-bottom: 2px solid #488EFF;
}
/* End of Header styles */


/* Main styles */
.banner{
    display: flex;
    width: 100%;
    height: 600px;
    justify-content: space-around;
}
.banner-text{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.banner-text h1{
    font-size: 40px;
    color: rgba(0, 0, 0, 0.87);
}
.banner img{
    height: 500px; 
}
.banner p{
    font-size: 20px;
}
.portfolios{
    display: flex;
    margin: 40px 0;
    align-items: center;
    padding: 60px 0;
}
.portfolios div{
    width: 50px;
    height: 55px;
    border-radius: 50%;
    box-shadow: 0 4px 4px 0 rgba(11, 11, 11, 0.3);
    margin: 5px;
}
.portfolios img{
    width: 30px;
    height: 30px;
    background-color: white;
    padding: 0px;
    margin: 10px;
}
/* Skills styles */
#skills{
    color: black;
    width: 100%;
    height: 600px;
    padding: 20px;
    top: 602px;
    background: #EABD70;
    font-family: 'Sora', sans-serif;
}
.skills-content{
    display: flex ;
}

.skills{
    display: flex;
    flex-direction: column;
    margin: 40px;
    color: rgba(0, 0, 0, 0.87);
}
.skills p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 24px;
    letter-spacing: 0.5px;
    color: rgba(0, 0, 0, 0.87);
}
.skills-list{
    display: flex;
    justify-content: space-around;
    margin: 40px 0;
    color: rgba(0, 0, 0, 0.87);
}
.vector{
    background: url("/images/Vector.png") no-repeat;
}
/* End of Skills */
/* Experience styles */
#experience{
    color: black;
    width: 100%;
    height: 750px;
    padding: 40px;
    margin: 20px 0;
}
.circle{
    width: 20px;
    height: 20px;
    border: 2px solid  #488EFF;
    border-radius: 50%;
}
.broken-line{
    width: 1px;
    height: 170px;
    border: 1px dashed #488EFF;
    margin: 0 9px ;
}
.experience-content{
    display: flex;
}
.resume{
    margin: 0 100px;
    width: 100%;
}
.description h3{
    color: #488EFF;
    margin: 10px 0;
    font-size: 16px;
}
.description h1 {
    border-bottom: 1px solid #488EFF;  
}
.description ul{
    margin: 10px 20px;
    list-style: disc;
}
.job{
    display: flex;
    justify-content: space-between;
    padding: 8px;
}
/* End of Experience styles */
/* Project styles */
#projects{
    color: black;
    width: 100%;
    height: 600px;
    padding: 40px;
}
.projects{
    display: flex;
    justify-content: space-around;
}
.project{
    gap: 8px;
    width: 344px;
    height: 320px;
    background: #FCFDFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
}
.project p{
    margin: 0 10px;
}
.text{
    width: 100%;
    height: 100px;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 346px;
    border: 2px solid;
    border-image: linear-gradient(100deg, #009EF8, #B305B7) 3;
}
.project img{
    max-width: 344px;
    max-height: 468px;
}
/* End of project styles */
/* Education Styles */
#education{
    color: black;
    width: 100%;
    height: 600px;
    padding: 20px;
    top: 602px;
    background: #EABD70;
}
.education{
    display: flex;
    justify-content: space-around;
}
.shule{
    display: flex;
    justify-content: space-evenly;
}
.schools{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.numbers p{
    color: #FFF1D8;
    font-size: 100px;

}
.the-school h1, h3, p{
    margin: 10px;
}
.edu-icon{
    background: url("/images/vector2.png") no-repeat;
}
.school{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/* End of Education Styles */

/* End of main styles */
/* Footer Styles */
#contacts{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.601);
    color: white;
    height: 150px;
}
.communication h2,a{
    color: white;
}
.communication{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
    border-bottom: 1px solid white;
}
.medium{
    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 5px 10px;
}
.medium img{
    margin: 5px 10px 5px 0;
}
/* End of FooterStyles */
